/Qwen
/saver
/trainer_output
/saver
/cross-encoder
/google-bert
/data/E-commerce dataset
/qwen_lora_finetuned
/.vscode
/__pycache__
/TencentBAC
/data/conversation_dataset.jsonl
/data/phone.txt
/.venv-fixtest